#form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

#zipSearch-form {
  width: 50rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#zipSearch-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

#zipSearch-form input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

#zipSearch-form button {
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
  padding: 0.5rem 2.5rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#goals {
  width: 55rem;
  max-width: 90%;
  margin: 3rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

label, input {
  display: block;
  width: 100%;
}


input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.25rem;
} 

.error{
  color: red
}

.table-continer {
  width: 50%
}

.table-container table {
  border-collapse: collapse;
  width: 100%
}

.table thead {
  background-color: #bbb;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  min-width: 150px;
}

table th {
  color: #121212;
}

tr {
  border-bottom: 1px solid #bbb;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .search-container {
  margin: 1rem 0;
  width: 50%;
}

.search-container input {
  margin: 100%;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc
} */